

@import "bootstrap-sprockets";
@import "bootstrap";
 /* dashboard */
.cams_power {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  background-color: blue;

}
#cam_status {
  margin: 2em;
  display:none;
}
#anilerts {
  margin: 0 40px auto;
}
#anilerts a:hover {
  background: none;
}
#anilerts img {
  width: 300px;
  height: 150px;
}
