/* boot strap */
@import "bootstrap-sprockets";
@import "bootstrap";
 /* dashboard */
.cams_power {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  // background-color: blue;
}
// status section
.stat {
      border-radius: 15px;
      border: 2px solid black; /*#73AD21; */
      padding: 10px;
      width: 35%;
      height: 3%;
      margin: 3%;

}

.status_btn {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 50%;
    height: 3%;
}

#cam_status #alert_status{
  margin: 2em;
  // display:none;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#dashboard {

}
// end status section

#alerts_container {
  width:80%;
  margin: 2%;
  background-color: none;

}
#nestlogo{
  width: 100px;
  height: 40px;
  margin-left: 15px;
}


.paginate {
  text-align: right;
}
.alert_photos {
  padding: 15px;
  margin: 0;
  background: none;
  width: 80%;
  height: 50%;
}
.animated_display {
  display: none;
}

.img-ani {
  border: solid 2px red;
  margin: 0 auto;
}

.refresh_btn {
  display:none;
}
td.btn.btn-default.btn-sm{
  display: block;
  margin: 0 auto;
}

#index_img {
  height: 90%;
  width: 70%;
  border-radius: 50%;
  margin: 0 auto;
  display: block
}


// #anilerts {
//   margin: 0 40px auto;
// }
// #anilerts a:hover {
//   background: none;
// }
// #anilerts img {
//   width: 300px;
//   height: 150px;
//
// }

#logo {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: -1px;
	padding: 15px 0;
	a {
		color: #2F363E;
	}
  a:hover {
    text-decoration: none;
    color: green;
  }
}
#content {
  margin: 0 auto 0 auto;
  width: 80%;
}

.dropdown-menu {
  min-width: 70%;
  padding: 2em;
}
